body {
    background-color:  #fce7eb;
}
header {
    font-size: 60px;
    color: #110901;
    text-align: center;
    background-color: #f6cefc;
    max-width:680px;
    margin:0 auto;
    margin-bottom: 20px;
}
#white {
    background-color: #ffffff;
    
    border:1px solid black;
}
#black {
    background-color: #000000;
    
    border:1px solid lightsteelblue;
}
#lightcoral{
    background-color: #f08080;
    
    border:1px solid black;
}
#lightyellow{
    background-color: #ffffe0;
    
    border:1px solid black;
}
#lightseagreen{
    background-color: #20b2aa;
    border:1px solid black;
}
#darkturquoise{
    background-color: #00ced1;
    border:1px solid black;
}
#orange-ish{
    background-color: #f7904c;
    border:1px solid black;
}
#cornflowerblue{
    background-color:#6495ed;
    border:1px solid black;
}
.cards{
  background-color: #f6cefc;
  margin: 0 auto;
  max-width:650px;
  padding: 20px;
  display:flex;
  flex-flow: row wrap;
}
.card {
    background-color: #ffffff;
    border:1px solid black;
    border-radius:5px;
    width:150px;
    height:200px;
    margin:5px;
    display:grid;
    grid-template-areas: "post post post post post"  
                       "post1 post1 image post2 post2"
                       "post3 post3 post3 post3 post3"  
                       "star post4 post4 post4 basket";
    grid-template-rows:  77.5px 45px 1fr 25px; 
    grid-template-columns: 25px 27.5px 45px 1fr 20px;
}
.color_image {
    border-radius: 5px;
    width:45px;
    height:45px;
}
.color_name {
    color:grey;
    font-size:1.1em;
}
.info {
    width:70px;
    height:50px;
    grid-area: image;
}
.star {
    background:url("./fav.svg") no-repeat ;
    background-size:cover;
    width:20px;
    height:20px;
    grid-area: star;
    justify-self: right;
}
.basket {
    background:url("./close.svg") no-repeat ;
    background-size:cover;
    width:15px;
    height:20px;
    grid-area: basket;
}
p{
    font-family: monospace;
    text-align:center;
    color: black;
}